CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake
coding-tripletsvm-test/
coding-tripletsvm-train/
coding/
conserved-hairpin/
cross-species/
functional-ncrna/
install-sh
mirbase12-micropred/
mirbase12/
mirbase20/
mirbase21-diff/
mirbase21/
mirbase50-tripletsvm-test/
mirbase50-tripletsvm-train/
mirbase50/
mirbase82-mipred/
other-ncrna/
updated/
